@model List<Project>
<div class="gtco-section">
    <div class="gtco-container">
        <div class="row gtco-heading">
            <div class="col-md-7 text-left">
                <h2>Works</h2>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control searchProject" id="name" placeholder="search">
        </div>
        <div class="row project-wrapper">
            @foreach (Project item in Model)
            {
                <div class="item col-md-4">
                    <div class="gtco-item">
                        <a href="#"><img src="~/images/@item.Img" alt="" class="img-responsive"></a>
                        <h2><a href="#">@item.Title</a></h2>
                        <p class="role">@item.SubTitle</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<input type="hidden" id="projCount" name="name" value="@ViewBag.Count" />