@model List<Project>


    @foreach (Project item in Model)
    {
        <div class="item col-md-4">
            <div class="gtco-item">
                <a href="#"><img src="~/images/@item.Img" alt="" class="img-responsive"></a>
                <h2><a href="#">@item.Title</a></h2>
                <p class="role">@item.SubTitle</p>
            </div>
        </div>
    }
